/* Utilidades */
@import url('https://fonts.googleapis.com/css2?family=Archivo:wdth,wght@125,500&family=IBM+Plex+Sans&display=swap');

/* Globales */
:root {
    --ColorPrimario: #fff;
    --fuentePrincipal: 'Archivo', sans-serif;
    --fuenteSecundaria: 'IBM Plex Sans', sans-serif;
}

h1,
h2,
h3 {
    color: #fff;
    font-family: var(--fuentePrincipal);
    font-weight: bold;
    font-stretch: expanded;
}

p {
    color: #fff;
}

body {
    font-family: var(--fuenteSecundaria);
    background: linear-gradient(270deg, rgba(1, 3, 169, 1) 35%, rgba(1, 91, 253, 1) 100%);
}

/* Formulario */

form {
    font-family: var(--fuenteSecundaria);
    padding: 16px 0;
}

.form-text {
    color: #fff;
}

label {
    color: #fff;
}

select {
    padding-bottom: 24px;
}

#donar {
    filter: invert(100%);
}

#donar:hover {
    filter: invert(0%);
}

/* No funciona */

.botonDonar:hover {
    #donar {
        filter: invert(0%);
    }
}